RAG/rag-document-retrieval-workflow.json
{
  "name": "Rag_Workflow",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "tevvvvrag",
          "mode": "list",
          "cachedResultName": "tevvvvrag"
        },
        "embeddingBatchSize": 50,
        "options": {
          "pineconeNamespace": "={{ $('Edit Fields').item.json.File_name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -112,
        -336
      ],
      "id": "ba023796-3f43-4b66-b75b-afb97b078e53",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "y1g7N8q5Xk8XBaQO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -224,
        -112
      ],
      "id": "03895517-6d71-4546-8076-49aeeb105111",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PvrBCaXKElXhng0q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Apple_report",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -16,
        -112
      ],
      "id": "6764c27c-ef47-44ab-9834-07af99a39437",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are an AI assistant specialized in analyzing Apple’s quarterly financial reports. Your primary objective is to answer questions accurately and precisely using the vector database, which contains verified Q1 financial reports.\n\nYou must only provide information that comes directly from these reports or from verified data. If the requested information is missing, unclear, or not present in the database, you must explicitly state that there is insufficient data.\n\nKeep all responses concise, factual, and to the point. Include specific numbers, figures, and metrics whenever possible, and clearly indicate whether the information is sourced from Q1.\n\nDeliver quick, reliable insights into Apple’s quarterly financial performance without adding unnecessary details. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        -336
      ],
      "id": "d2bfa93d-4028-49e2-af63-35bcdc88ab07",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        464,
        -176
      ],
      "id": "3a473560-a871-4d82-926f-f74ad8be1e76",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PvrBCaXKElXhng0q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Returns documtns related to Apple Q1 reports, including financials, outlook, margins, and all key details from the earning reports."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        768,
        -176
      ],
      "id": "ac62abce-de61-4a62-9309-0fbebd02e674",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "tevvvvrag",
          "mode": "list",
          "cachedResultName": "tevvvvrag"
        },
        "options": {
          "pineconeNamespace": "={{ $json.File_name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        560,
        -48
      ],
      "id": "96cd6f90-71cd-4a93-aa23-03c89207fef2",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "y1g7N8q5Xk8XBaQO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        928,
        -48
      ],
      "id": "cb0fcfd5-00b7-4d30-b2ec-ff167de316a0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "PvrBCaXKElXhng0q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1328,
        -144
      ],
      "id": "95d80dc6-a324-4f9e-89f1-83df50c6bb1a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1SLvywOrgd3yDhdlbudKnC0kAYEvdxsTn",
            "mode": "list",
            "cachedResultName": "AppleQR",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1SLvywOrgd3yDhdlbudKnC0kAYEvdxsTn"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1152,
        -384
      ],
      "id": "d81eb024-2910-4a48-8099-58496304018d",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UzDvlmDwgNFefqzj",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.File_ID }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -576,
        -128
      ],
      "id": "efb46c7e-eeb3-4a34-8f86-1e774b31d0cc",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UzDvlmDwgNFefqzj",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bc61ebe-6582-4779-b801-cf80d8d3db99",
              "name": "File_name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "aa4bec34-d448-407d-bd88-704553d66397",
              "name": "File_ID",
              "value": "={{ $json.ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        -432
      ],
      "id": "54c85842-ef7a-4ba3-a7a6-6b7eb1ec7950",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -272,
        -432
      ],
      "id": "660b0140-6078-4241-a712-dbf5dabbe0b0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47ddce62-5c89-42f5-ada4-2ca9fab4fd38",
              "name": "File_name",
              "value": "={{ $json[\"chatInput\"].match(/Q[1-4]/i)\n  ? ($json[\"chatInput\"].match(/Q[1-4]/i)[0].toUpperCase() + \".pdf\").trim()\n  : \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -336
      ],
      "id": "79e3934b-5333-4304-b6af-4e13dc4da95d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "# RAG CHATBOT\n",
        "height": 592,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        -416
      ],
      "id": "43725607-235a-431b-bcd2-0f2713959044",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# RAG KNOWLEDGE",
        "height": 656,
        "width": 992,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1440,
        -544
      ],
      "id": "399fc146-7757-4e3f-8b46-46c4e14630e4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Uploading to VD",
        "height": 704,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -544
      ],
      "id": "cff3e905-1312-4057-8988-9246ec7cdc5e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1328,
        -384
      ],
      "id": "476dd5c5-51bb-4d5c-bd93-fb64b7a59e8b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jKC6QYpgqGds8T3dWtKfLLc2eFC0sek9salwXtwDSWU",
          "mode": "list",
          "cachedResultName": "AppleQR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jKC6QYpgqGds8T3dWtKfLLc2eFC0sek9salwXtwDSWU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jKC6QYpgqGds8T3dWtKfLLc2eFC0sek9salwXtwDSWU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1152,
        -144
      ],
      "id": "3659a64e-c2e5-420c-abf5-98ac73f374d8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K9WgSv6IQkn33P3j",
          "name": "BMsheets"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1008,
        -256
      ],
      "id": "d4f63220-9321-4edc-9c6e-0869738025bc",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// ✅ Get ALL incoming data as one flat array\nconst allInputs = $input.all(); \n\n// Separate Drive files vs Sheet rows by their structure\nconst driveInput = [];\nconst sheetInput = [];\n\n// Loop through all incoming items and detect source\nfor (const item of allInputs) {\n  const data = item.json;\n  \n  // Drive files have `id` + `name`\n  if (data.id && data.name) {\n    driveInput.push(data);\n  }\n  \n  // Sheet rows have `ID` + `Name`\n  if (data.ID || data.Name) {\n    sheetInput.push(data);\n  }\n}\n\n// ✅ Extract already processed IDs from sheet\nconst processedIds = sheetInput\n  .filter(row => row.ID && row.ID !== \"\")\n  .map(row => row.ID);\n\n// ✅ Filter only NEW files not in sheet\nconst newFiles = driveInput.filter(f => !processedIds.includes(f.id));\n\n// ✅ Debug info\nconsole.log(`Drive files found: ${driveInput.length}`);\nconsole.log(`Sheet rows found: ${sheetInput.length}`);\nconsole.log(`Already processed IDs: ${processedIds.length}`);\nconsole.log(`New files to download: ${newFiles.length}`);\n\n// ✅ Output only the new ones\nreturn newFiles.map(f => ({\n  json: {\n    fileId: f.id,\n    fileName: f.name\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        -432
      ],
      "id": "b86fe0ad-c977-4cdb-abff-f9957ee0626c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jKC6QYpgqGds8T3dWtKfLLc2eFC0sek9salwXtwDSWU",
          "mode": "list",
          "cachedResultName": "AppleQR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jKC6QYpgqGds8T3dWtKfLLc2eFC0sek9salwXtwDSWU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jKC6QYpgqGds8T3dWtKfLLc2eFC0sek9salwXtwDSWU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.fileName }}",
            "ID": "={{ $json.fileId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -800,
        -128
      ],
      "id": "8dd7f88f-2848-42e2-bb69-0359eea8d5b5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K9WgSv6IQkn33P3j",
          "name": "BMsheets"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Fell free to ask me anything!",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        224,
        -320
      ],
      "id": "2fe371f1-5c2b-4f2f-9fdc-468bc96d0957",
      "name": "When chat message received",
      "webhookId": "2fa5648b-2f91-4e98-8650-7d7eadd1a683"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        16
      ],
      "id": "caea14ae-2aa2-4960-b5d9-d581505021c1",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "PvrBCaXKElXhng0q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -64,
        16
      ],
      "id": "aa25c9f9-7849-48b2-aa06-8aeca0cc300a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        -160
      ],
      "id": "531aca68-f895-43ec-9059-a38dc1cfe32c",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "30842280-3b06-4d7e-b3b1-07bffa89b70f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f0e6bbe563191c61bd172b2b1967bd787c8a1262412c890f1be73c4c5535ae2e"
  },
  "id": "2WifAUQPDYGuLUT1",
  "tags": []
}