WhatsApp/whatsapp_lead_capture_workflow.json
{
  "name": "whatsapp_lead_capture_workflow",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.data.key.id }}",
        "contextWindowLength": 6
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -144,
        144
      ],
      "id": "6b6d75b5-9bfb-4c45-9fdd-166ebbe6ea3b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -272,
        128
      ],
      "id": "9b9c0589-b600-47c7-a0bf-59f8bb6da824",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PvrBCaXKElXhng0q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output.reply_message }}",
        "options_message": {
          "delay": 1800
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        576,
        -96
      ],
      "id": "c291250f-5139-45b1-a5db-3f7124a23483",
      "name": "Reply to Customer",
      "credentials": {
        "evolutionApi": {
          "id": "Z3tWDDrsYAqzhixN",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.data.message.conversation }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Gym Assistant AI. Your tasks:\n\n1. Answer customer questions with a friendly tone using the Gym FAQ database (Google Sheet).\n2. If a customer is interested in membership or services, collect their name and phone number. Only collect if genuinely interested.\n   - When both Name and Phone are provided, reply only with:\n     \"Thanks {Name}. Your info is saved, our team will contact you soon.\"\n   - Do not add extra sentences, guidance, or questions.. \n\n3. Always provide a structured output with three fields: - reply_message: the text to send back to the customer - Name: lead's name (or leave empty if no lead) - Phone: lead's phone (or leave empty if no lead)\n\n4. Keep replies professional, friendly, and concise.\n\n5. Do not make up information; if unknown, politely tell the customer you’ll get back to them. \n\n6. Automatically save any extracted name and phone to the Google Sheet \"Gym_leads\" (columns Name + Phone) and Notify the owner through the gmail tool with the lead.\n\nOptional example for clarity (recommended): \nIf a customer provides lead info:\n{ \"reply_message\": \"Thank you! We’ll contact you soon with membership details.\", \"Name\": \"John Doe\", \"Phone\": \"+1234567890\" } \n\nIf it’s a FAQ-only question:\n{ \"reply_message\": \"Our gym is open from 6 AM to 10 PM daily.\", \"Name\": \"\", \"Phone\": \"\" }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        -96
      ],
      "id": "e8696aa8-881f-419e-bf5d-9460ffbe7c05",
      "name": "Gym Assistant"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1X7CQiOOgd6tkiLws9VUBb8_t1GNwlb6kArVyOZql2js",
          "mode": "list",
          "cachedResultName": "Gym_faq",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X7CQiOOgd6tkiLws9VUBb8_t1GNwlb6kArVyOZql2js/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X7CQiOOgd6tkiLws9VUBb8_t1GNwlb6kArVyOZql2js/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        144,
        144
      ],
      "id": "06271b78-b4bf-4e97-90c9-fc31ec2dc169",
      "name": "Gym_faq",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C4wuZ2R1gQUVkRWZ",
          "name": "GymASsistant"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "mankoursaid311@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        288,
        144
      ],
      "id": "7a5c7b23-fc54-4837-83ae-686cd8c5122a",
      "name": "Send lead to Owner",
      "webhookId": "0387b3b1-50ee-4a9b-8b5b-33afc0088418",
      "credentials": {
        "gmailOAuth2": {
          "id": "YqBOnb7YpEf49Jym",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Name\": \"\",\n  \"Phone\": \"\",\n  \"reply_message\": \"\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        416,
        80
      ],
      "id": "eadc90e0-d889-4c70-9816-5744c59d4cd1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        480,
        208
      ],
      "id": "e962c7df-b9c1-4ac5-a446-278e1587c415",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "PvrBCaXKElXhng0q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "69f6b68d-01e0-4720-a267-3414b5018649",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        -80
      ],
      "id": "117c9cf9-d4e5-4e18-8717-76c6dcf87c3e",
      "name": "Webhook",
      "webhookId": "69f6b68d-01e0-4720-a267-3414b5018649"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_-7ZG5vRdl-mQa_iI2Lz5QylVDfWAiUOs_PcBP6xBKU",
          "mode": "list",
          "cachedResultName": "Gym_leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_-7ZG5vRdl-mQa_iI2Lz5QylVDfWAiUOs_PcBP6xBKU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pGSLRvrkzZmPne6V1fH6iKGicQF8y2HtKW-dxyuO5co/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        16,
        144
      ],
      "id": "c96e949e-0330-4427-96d9-b0e01e3046c1",
      "name": "Gym_leads_saving (Name + Phone)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C4wuZ2R1gQUVkRWZ",
          "name": "GymASsistant"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Gym Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gym Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gym Assistant": {
      "main": [
        [
          {
            "node": "Reply to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gym_faq": {
      "ai_tool": [
        [
          {
            "node": "Gym Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send lead to Owner": {
      "ai_tool": [
        [
          {
            "node": "Gym Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gym Assistant",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Gym Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gym_leads_saving (Name + Phone)": {
      "ai_tool": [
        [
          {
            "node": "Gym Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ef252b59-a988-483d-8c35-00f5396236d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f0e6bbe563191c61bd172b2b1967bd787c8a1262412c890f1be73c4c5535ae2e"
  },
  "id": "LoUU1tMtMuwxmVsxW6mXv",
  "tags": []
}